.switch {
    border: 1px solid white;
    margin-right: 25px;
    display: flex;
    position: relative;
    height: 28px;
    width: 56px;
    font-family: 'Cabinet Grotesk' sans-serif;
    line-height: 17.36px;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    border-radius: 25px;
}

input[type='checkbox'] {
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;;
    background-color: #000; 
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

input[type='checkbox']:checked + .slider {
    transform: translateX(100%);
}

