.card__item {
    display: flex;
    flex-direction: column;
}

.card__image {
    height: 328px;
    width: 328px;
    border-radius: 10px;
}

.card__image:hover {
    cursor: pointer;
}

.card__name {
    text-align: center;
}