.weather {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.weather__info {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
}

.weather__image {
    width: 100%;
}